span{
    display: block;
}

figure{
    max-width: 100%;
    height: 100%;
    
    & > img{
        object-fit: cover;
        object-position: center;
    }
}

.movie-tv-card{
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    & .description-wrapper{
        padding: 10px;
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateY(-100%);

        & .card-description{
            width: 90%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &:hover .description-wrapper{
        transform: translateY(0);
        transition: all 700ms;
    }

    &:hover img{
        transform: scale(1.2, 1.2);
        transition: all 1.5s;
    }

    &:hover .overview{
        white-space: normal;
    }
}

.overview-wrapper{
    height: 60px;
    overflow-y: auto;
    padding: 0 10px 0 0;
}

.overview{
    white-space: nowrap;
    font-size: 10px;
}


.fa-star{
    color: rgb(255, 208, 0);
    margin: 5px 2px;
}